<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstudoInterface2.Properties.Settings.helpdesk_mipConnectionString"
            connectionString="server=localhost;user id=root;database=helpdesk_mip"
            providerName="MySql.Data.MySqlClient" />
        <add name="EstudoInterface2.Properties.Settings.helpdesk_mipConnectionString1"
            connectionString="server=localhost;user id=root;password=root;database=helpdesk_mip"
            providerName="MySql.Data.MySqlClient" />
        <add name="EstudoInterface2.Properties.Settings.helpdesk_mipConnectionString2"
            connectionString="server=localhost;user id=root;database=helpdesk_mip;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>